<aside class="bg-light border-end h-100" style="width: 250px;">
  <nav class="p-3">
    <div class="mb-4">
      <h6 class="text-muted text-uppercase fw-semibold mb-3">
        Configuration
      </h6>
      <ul class="nav flex-column">
        <li class="mb-1">
          <a href="/Deployment Anthos" class="nav-link d-flex align-items-center">
            <i class="bi bi-house me-2"></i>
            Deployments Anthos
          </a>
        </li>

        <li class="mb-1">
          <a href="/DeploymentGkeCore" class="nav-link d-flex align-items-center">
            <i class="bi bi-house me-2"></i>
            Deployments GKE Core
          </a>
        </li>

        <li class="mb-1">
          <a href="/DeploymentGkeGeneric" class="nav-link d-flex align-items-center">
            <i class="bi bi-house me-2"></i>
            Deployments GKE Generico
          </a>
        </li>

        <li class="mb-1">
          <a href="/configMap" class="nav-link d-flex align-items-center">
            <i class="bi bi-gear me-2"></i>
            ConfigMaps
          </a>
        </li>
        <li class="mb-1">
          <a href="/secret" class="nav-link d-flex align-items-center">
            <i class="bi bi-lock me-2"></i>
            Secrets
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>