<div class="container-fluid py-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h2>Create ConfigMap</h2>
            <p class="text-muted mb-0">Manage configuration variables, secrets, and environment settings</p>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createVariableModal" (click)="openCreateModal()">
            + Create Variable
        </button>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Name Artifact" [(ngModel)]="artifact" />
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Namespace" [(ngModel)]="namespace" />
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="createVariableModal" tabindex="-1" aria-labelledby="createVariableModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createVariableModalLabel">
                        {{ editIndex !== null ? 'Edit Variable' : 'Create Variable' }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" [(ngModel)]="newVariable.name"
                                name="variableName" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Value</label>
                            <textarea rows="4" cols="50" class="form-control" [(ngModel)]="newVariable.value"
                                name="variableValue" ></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" (click)="saveVariable()" data-bs-dismiss="modal">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive border rounded">
        <table class="table table-hover table-bordered align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>NAME</th>
                    <th>VALUE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let valores of configMap; let i = index" class="border-b hover:bg-gray-50">
                    <td class="px-4 py-3">
                        <div class="font-medium text-gray-900">{{ valores.name }}</div>
                    </td>
                    <td class="px-4 py-3 text-truncate" style="max-width: 150px;">
                        <div class="text-gray-500 text-xs">{{ valores.value }}</div>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="removeVariable(i)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                        <button class="btn btn-primary btn-sm me-2" data-bs-toggle="modal"
                            data-bs-target="#createVariableModal" (click)="openEditModal(i)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-success" (click)="saveConfigMap()">Guardar</button>
</div>